/* ============================= =================================
                          CSS VARIABLES
============================= ================================= */
:root {
  --accent: #d500f9;
  --accent-ligth: #EAF2D3;
  --darken-5: #303030;
  --darken-4: #212121;
  --darken-3: #424242;
  --darken-2: #616161;
  --darken-1: #757575;
  --white: #fff;

  --ff-p: Roboto, "Helvetica Neue", sans-serif;

  --fz-p: 1.4rem;

  --bold: 700;
  --regular: 400;
}

/* ============================= =================================
                          Fonts import
============================= ================================= */


/* ============================= =================================
                         Global Styles
============================= ================================= */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--ff-p);
  background-color: var(--darken-5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: var(--ff-h);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .3s ease;
}

a:hover {
  color: var(--accent);
}

img {
  width: 100%;
}

.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ============================= =================================
Main Styles
============================= ================================= */